<div class="container">
    <img src="" alt="Fale Conosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer.</h3>
        <p>Se você tiver alguma dúvida ou sugestão fale conosco.</p>
        <p>
            <span>
                <img src="" />
            </span>
            @*<h5><email endereco="maurot.contato@gmail.com" conteudo="Enviar um e-mail"></email></h5>*@
            <br/>
            <span>
                <img src="" />
            </span>
            <h5>+55 12 3456 7890</h5><br />
            <span>
                <img src="" />
            </span>
            <h5>Avenida Tal, número 0 - CEP 000000-000 - São Paulo</h5>
        </p>
    </div>
</div>