@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .partial_carousel{
        heigth: 400px;
        width: 800px;
        margin: auto;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="partial_carousel">
    <partial name="_Carousel" />
</div>
<hr/>
<h2>Favoritos:</h2>
<div class="row">
    @foreach(var lanche in Model.LanchesFavoritos)
    {
        <partial name="_LanchesResumo" for="@lanche"/>
    }
</div>